/* Style général */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace; /* Police monospace pour un look terminal */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000000;
    overflow: hidden; 
}


.card {
    background-color: rgb(255, 255, 255);
    border: 5px solid blueviolet;
    border-radius: 25px;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-shadow: 7px 7px rgb(255, 202, 68);
    text-align: left;
    overflow: hidden;
    max-height: 80vh;
    position: relative;
}


.card-content {
    overflow-y: auto;
    max-height: calc(80vh - 40px);
}


.card-title {
    font-size: 2rem;
    color:rgb(0, 51, 154);
    margin-bottom: 20px;
}

h4 {
    font-size: 1.5rem;
    color:rgb(0, 51, 154);
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
    font-size: 1rem;
    color: #373737;
}

a {
    color: goldenrod;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .card {
        padding: 15px;
    }

    .card-title {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    ul {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    .card-title {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    ul {
        font-size: 0.85rem;
    }
}
